<ion-view title="Sign Up" id="page1" class="background">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form3" class="list" ng-submit="add()">
            <label class="item item-input login" id="signUp-input2">
                <span class="input-label login">Name</span>
                <input type="text" ng-model="person.name" placeholder="">
            </label>
            <label class="item item-input login" id="signUp-input3">
                <span class="input-label login">Cell</span>
                <input type="tel" ng-model="person.phone" placeholder="">
            </label>
            <label class="item item-input login" id="signUp-input4">
                <span class="input-label login">Email</span>
                <input type="email" ng-model="person.email" placeholder="">
            </label>
            <label class="item item-input login" id="signUp-input5">
                <span class="input-label login">City</span>
                <input type="text" ng-model="person.city" placeholder="">
            </label>
            <label class="item item-select login" id="signUp-select1" name="University">
                <span class="input-label login" >University</span>
                <select ng-model="selectionValue" ng-options="option as option.name for option in options" ng-change="selectionChanged(selectionValue)">
                    <option value="" selected="selected">Select a option</option>
                </select>
            </label>
        </form>
        <button ng-click="add()" id="signUp-button1" class=" button button-royal button-block login">Sign Up</button>
    </ion-content>
</ion-view>