/* Empty. Add your own CSS if you like */

.white {
	color:white;
}

.cyan {
	color:#60A7A9;
}

.red {
	background-color: #BF4B60;
}

.blue-retro {
	background-color: #3E4463;
}
.bg-blue {
	background-color: #262A3F;
}

.button.button-positive.retro.red {
	border-color: transparent;
	background-color: #BF4B60;
	color: #fff;
	border-radius: 17px 17px 17px 17px;
	/*width:75%;*/
}

.button.button-positive.retro.cyan{
	border-color: transparent;
	background-color:#60A7A9;
	color: #fff;
	border-radius: 17px 17px 17px 17px;
	/*width:75%;*/
}

.item {
	border:0;
	background-color: transparent;
}

.background {
	background-color: #3E4463;
}

.padding > .list .item:first-child {
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.padding > .list .item:last-child {
	border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.has-header {
}

.item-select select {
	background:transparent;
	color:#fff;
}

.item .item-content.activated {
	background: rgba(255, 255, 255, 0.15);
	border-color: rgba(255, 255, 255, 0.15);
}
.item.activated {
	background: rgba(255, 255, 255, 0.15);
	border-color: rgba(255, 255, 255, 0.15);
}

.range input {
	background-size: 99% 5px;
}

.item-input-curved {
	border-radius: 25px 25px 25px 25px;
	background-color: #535A79;
	margin:10px;
}

.retro {
	border-color: transparent;
	color: #fff;
	border-radius: 17px 17px 17px 17px;
	/*width:75%;*/
}

.nav {
	background-color: #3E4463;
}

.bar.bar-stable {
	background-color: #262A3F;
}

.bar.bar-stable .title {
	color:white;
}

.bar-stable .button.button-clear {
	color:white;
}

.item-complex .item-content, .item-radio .item-content {
	background-color: transparent;
}